<!DOCTYPE html>
<html>
    <head>
       <base href="/">
       <link type="text/css" rel="stylesheet" href='/css/styles.css'>
    </head>

    <body>
        <h1>about us</h1>
        <p>By {{name}}</p>
        <img src="/assets/cat.jpg" width="250" height="300">
    </body>
</html>